*.js
*.js.map
definition-ts/
node_modules/
hb_version
target/
istanbul/
src/gen-doc
src/resources/navigation.json
static/hornet-themes/
static/html
static/messages*
static/navigation*
!builder.js
!menu.js
!path-helper.js
!trigger-rundeck.js
.vscode